.obsidian/*
~lock
SourceData/.~lock.projectedCrsTransMercator.csv\#
# Ниже генерируемые файлы на основе информации из папки
SourceData/AutodeskCSLibrary.xml
SourceData/OsgeoProjDb.sql
SourceData/Липецк Городская СК todo.xls
Docs/BY_MSKLIst.pdf
OtherData/Липецк Городская СК todo.xls
SourceData/.~lock.projectedCrsTransMercator.tsv\#
